* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  position: relative;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 60px;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 375px;
  margin: 34px 34px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  left: 24px;
  top: 276px;
}

h1 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
}

a {
  color: #7d8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.connect {
  font-weight: 500;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: 375px 668px;
  padding-left: 10px;
  width: 375px;
  height: 718px;
}

ul, 
li {
  list-style: none;
  display: inline;
  padding: 1px 13px;
  margin-left: -3px;
}

h2 a:hover {
  background-color: #6070ff;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
}

h2 a:active {
  background-color: #2230d2;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
}
