* {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

.container-works {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #f7f7f9;
  padding-inline-start: 3px;
}

.container-works ul {
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 34px 34px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  left: 24px;
  top: 276px;
  margin: 7px 24px 7px 24px;
}

h1 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  position: static;
  height: 150px;
  left: 24px;
  top: 114px;
  margin: 7px 24px 7px 24px;
}

a {
  color: #7d8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

#connect {
  font-weight: 500;
  font-size: 16px;
  margin: 7px 24px 7px 24px;
}

#connect2 {
  font-weight: 500;
  font-size: 16px;
  margin: 1px 24px 34px 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: 375px 668px;
  background-color: rgb(255, 255, 255);
  height: 718px;
  margin: 0 auto;
}

.qualifications {
  color: #7a869a !important;
  padding: 0 0;
}

.qualifications img {
  margin: 0 0;
}

.content ul {
  margin: 26px 35px 1px 35px;
}

.content ul,
li {
  list-style: none;
  display: inline;
  padding: 1px 15px 1px 5px;
}

.contact ul li {
  list-style: none;
  display: inline;
  padding: 1px 13px;
  margin: -3px;
}

.works h2 a {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact h2 a {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 25px 16px 35px;
}

.contact h2 a:hover {
  background-color: #6070ff;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}

.contact h2 a:active {
  background-color: #2230d2;
  border: 1px solid #2230d2;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}

.works h2 a:hover {
  background-color: #6070ff;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}

.works h2 a:active {
  background-color: #2230d2;
  border: 1px solid #2230d2;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}

#connect a:hover {
  background-color: #6070ff;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
}

#connect a:active {
  background-color: #2230d2;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
}

.works ul {
  padding-inline-start: 1px;
  margin: 10px 16px 10px 13px;
}

.big {
  min-height: 612px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  min-height: 566px;
  border-radius: 16px;
  margin: 88px 28px 88px 20px;
  padding: 1px 1px 1px 1px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
}

.works img {
  margin: 16px 16px 1px 16px;
}

.works h1 {
  font-weight: 700;
  color: #172b4d;
  height: 36px;
  margin: 1px 15px 1px 16px;
  font-size: 32px;
  line-height: 44px;
}

.big h1 {
  height: 88px;
}

.big .works ul {
  padding-inline-start: 1px;
  margin: 7px 16px 7px 13px;
}

.works ul li {
  font-weight: 600;
  color: #344563;
  font-size: 13px;
  display: inline;
  height: 13px;
  padding: 0 0;
}

.works-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 332px;
  margin: 12px 16px 16px 16px;
}

.works p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin: 10px 16px 6px 16px;
}

.languages {
  margin: 5px 1px 45px 1px;
}

.works .languages li {
  font-weight: 400;
  font-size: 12px;
  display: inline;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 1px 1px 1px 1px;
  position: relative;
}

.works h2 {
  margin: 30px 24px 50px 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 1200px;
  margin: 0 auto;
}

.contact h1 {
  height: 101px;
  margin: 114px 24px 5px 24px;
}

.contact p {
  height: 144px;
  margin: 2px 24px 12px 24px;
}

.big .works h1 {
  height: 80px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 5px 5px;
  color: #000;
}

#about-lenguages {
  display: inline;
  width: 100%;
  height: 600px;
  padding-inline-start: 1px;
}

#about-lenguages ul {
  display: inline;
  width: 100%;
  height: 66.72px;
  padding-inline-start: 1px;
}

#about-lenguages ul li {
  padding: 2px 2px;
  margin: 0 0;
  width: 0;
  height: 0;
}

.lenguages-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 66.72px;
  left: 12px;
  top: 169.43px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 1px 36px;
  padding: 1px;
}

.social {
  margin: 1px 35px 20px 35px;
  padding-inline-start: 1px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #253858;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 1px 1px 1px 24px;
}

.contact-btn {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  margin: 12px 24px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 779px;
  background-color: #6070ff;
  border-radius: 100px 0 0 0;
  margin: 0 auto;
  background-image: url(../assets/shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
}

#contact-me h1 {
  color: #fff;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 90px 0 6px 0;
}

#contact-me p {
  color: #ebebff;
  height: 102px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 6px 24px 77px 24px;
}

input {
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 10px 24px;
  text-indent: 16px;
}

input[type="text"] {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

input[type="email"] {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

textarea {
  height: 170px;
  width: 327px;
  margin: 10px 24px;
  border-radius: 8px;
  text-indent: 16px;
  padding: 10px 0 0 0;
}

.container-works-desktop {
  display: none;
}

#nav-desk {
  display: none;
}

@media (min-width: 1080px) {
  #nav-desk {
    display: block;
  }

  .works:hover h2 a {
    background-color: #6070ff;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
  }

  #nav-desk ul li a {
    font-weight: 500;
    font-size: 16px;
    color: #344563;
  }

  .menu {
    display: none;
  }

  .container-works {
    display: none;
  }

  .container-works-desktop {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f7f7f9;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    background-color: #fff;
    margin: 20px 155px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Headerbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    background-position: center;
    height: 916px;
    margin: 0 auto;
  }

  .content h1 {
    font-size: 48px;
    line-height: 52px;
    max-height: 122px;
    width: fit-content;
    margin: 287px 530px 12px 0;
    justify-content: left;
  }

  .content div {
    margin: 6px 18%;
    justify-content: left;
    width: 922px;
  }

  .content p {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }

  #connect {
    margin: 0;
  }

  .content .social {
    margin: 12px 710px 255px 0;
  }

  .works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 0;
    background-color: rgb(255, 255, 255);
    min-height: 496px;
    border-radius: 16px;
    margin: 88px 30px 0 30px;
    padding: 0;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    width: 1156px;
  }

  .works:hover {
    border: 2px solid #a7aeff;
    border-radius: 24px;
  }

  .works img {
    margin: 24px;
  }

  .big {
    flex-direction: row-reverse;
  }

  .works div {
    max-height: 90%;
    width: 100%;
  }

  .works h1 {
    margin: 48px 46px 0 46px;
    height: 48px;
  }

  .works ul {
    margin: 20px 46px 22px 46px;
  }

  .works p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 46px;
  }

  .works .languages {
    margin: 18px 46px;
  }

  .works h2 {
    margin: 45px 58px 0 40px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    height: 668px;
  }

  .about-myself {
    margin: 142px 0 0 11%;
    width: 40%;
  }

  .contact h1 {
    font-size: 40px;
    line-height: 52px;
    margin: 46px 0 12px 24px;
  }

  .contact p {
    font-size: 16px;
    line-height: 24px;
    height: 130px;
    width: 68%;
  }

  #about-lenguages-container {
    width: 47%;
    margin: 142px 0 45px 0;
  }

  .lenguages-html {
    width: 122px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    margin: 0 12px 0 0;
  }

  .lenguages-html img {
    margin: 0;
    padding: 10px 0 16px 10px;
  }

  .lenguages-html h4 {
    margin: 0;
    padding: 0 0 0 10px;
  }

  #section-class {
    display: flex;
    flex-direction: row;
    margin: 36px 37px;
  }

  #contact-me {
    background-image: url(../assets/contact.background.desktop.png);
    background-position: center;
    min-height: 846px;
    width: 100%;
  }

  #contact-me p {
    width: 569px;
    height: 102px;
  }

  #connect2 {
    margin-top: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 447px;
  }

  textarea {
    height: 170px;
    width: 447px;
  }

  button {
    width: 140px;
    height: 48px;
  }

  button:hover {
    background-color: #6070ff;
    color: #fff;
    width: 140px;
    height: 48px;
  }

  button:active {
    background-color: #2230d2;
    color: #fff;
    width: 140px;
    height: 48px;
  }

  button:disabled {
    color: #5e6c84;
    border: 1px solid #c1c7d0;
    width: 140px;
    height: 48px;
  }

  .qualifications img {
    margin: 0 10px 0 10px;
  }
}
